@import "variables.styl"
html
body
  font-size $font-size-s
  line-height 1.4
  margin 0
  background $bg-dark-color
  color $font-color
  font-family DINRegular, -apple-system, BlinkMacSystemFont, PingFang SC, Helvetica Neue, Hiragino Sans GB, Segoe UI, Microsoft YaHei, sans-serif

a
  text-decoration none
  color $link-color

ul
  margin-left 0
  padding-left 0
  list-style none


.page-enter-active
.page-leave-active
    transition all 0.5s

.page-enter
.page-leave-to
  opacity 0
  transform translateX(100%)

.page-enter-to
.page-leave
  opacity 1
  transform translateX(0)