$width = 1070px
$margin = 10px
$menu-width = 200px
$aside-width = 250px
$main-width = $width - $margin * 2 - $aside-width - $menu-width

$link-color = #41b883
$font-color = #555
$bg-color = #fff
$bg-dark-color = #eee
$bg-dark-active-color = #ddd
$border-color = #eee

$border-radius = 5px

$font-size-xxl = 22px
$font-size-xl = 20px
$font-size-l = 18px
$font-size-m = 16px
$font-size-s = 14px
$font-size-xs = 12px