@import "variables";

//color

$body-bg-color: darken($bg-color,8%);

//height
$header-height: 4rem;
$main-width: 75rem;





$danger-color: #F56C6C;

$color-warn: #FA7921;


$color-white: #fff;

$color-background-dark: #eee;

$color-background: hsla(0, 0%, 100%, .6);

$color-text: #555;
$color-text-light: $color-text + 30;
$color-text-deep: $color-text - 30;
$color-text-white: #fff;
$color-border-base: #d7dde4;
$color-disabled: #c3cbd6;

$color-link: $primary-color;





