@import "~assets/scss/variables";
@import "~assets/scss/mixins";
@import 'highlight.js/styles/vs2015.css';

.md-code-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $color-background;
  margin: 1em 0;
  .code-title {
    font-size: 1.2em;
    text-align: center;
    background-color: $color-info;
    padding: 0.5em 0;
    color: $color-text-white;
    margin: 0;
  }
  .code-main {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid $color-border-base;
    border-top-width: 0;
    margin: 0;
    > * {
      padding: 0.5em 0;
    }
    .code-lines {
      display: block;
      list-style: none;
      background-color: $color-background-dark;
      min-width: 2.5em;
      text-align: center;
      margin-right: 1em;
    }
    .code-content {
      position: relative;
      overflow-x: auto;
    }
  }
}

.md-list {
  margin-left: 2em;
  &.md-ol {
    list-style-type: decimal;
  }
  &.md-ul {
    list-style-type: disc;
  }
}

.md-blockquote {
  display: block;
  padding-left: 1em;
  margin: 1em 0;
  border-left: 0.25em solid $color-border-base;
  background-color: $color-background-dark;
}

.md-table-wrapper {
  //position: relative;
  .md-table {
    border-collapse: collapse;
    border-spacing: 0;
    cursor: pointer;
    thead {
      background-color: $color-background-dark;
    }
    tbody {

    }
    td, th {
      border: 1px solid $color-border-base;
      padding: 0.3em 0.5em;
    }
  }
}

.md-img {
  max-width: 100%;
}

.md-hr {
  height: 1px;
  border: none;
  background-color: $color-border-base;
  margin: 1em 0;
}

.md-code-inline {
  color: $color-danger;
  padding: 2px 4px;
  font-size: 0.9em;
  background-color: $color-danger + 120;
}

.md-code-block {
  border: 1px solid $color-border-base;
  padding: 1em;
  border-radius: 5px;
  overflow-x: auto;
}

.md-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  // 禁止点击
  pointer-events: none;
  input[type='checkbox'] {

  }
}