@import "variables";

@function color-active($color) {
  @return $color - 50;
}

@mixin clearfix() {
  zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
}

//grid
@mixin create-col($index:24,$total:24) {
  @while ($index>0) {
    .#{$grid-col-prefixCls}-span-#{$index} {
      width: 100% * $index / $total;
    }
    .#{$grid-col-prefixCls}-push-#{$index} {
      position: relative;
      left: 100% * $index / $total;
    }
    .#{$grid-col-prefixCls}-pull-#{$index} {
      position: relative;
      right: 100% * $index / $total;
    }
    .#{$grid-col-prefixCls}-offset-#{$index} {
      margin-left: 100% * $index / $total;
    }
    $index: $index - 1;
  }
  .#{$grid-col-prefixCls}-span-#{$index} {
    display: none;
  }
}

@mixin create-media-col($index:24,$total:24) {
  @each $point in map_keys($grid-breakpoints) {
    $_index: $index;
    @while ($_index > 0) {
      .#{$grid-col-prefixCls}-span-#{$point}-#{$_index} {
        @media (min-width: map_get($grid-breakpoints, $point)) {
          width: 100% * $_index / $total;
        }
      }
      $_index: $_index - 1;
    }
    .#{$grid-col-prefixCls}-span-#{$point}-#{$_index} {
      display: none;
    }
  }
}

//transition

@mixin slide($className,$direction:bottom,$duration:0.4s) {
  .#{$className}-enter-active,
  .#{$className}-leave-active {
    transition: transform #{$duration} ease-in-out, opacity #{$duration} ease-in-out;
    @if($direction == bottom){
      transform-origin: 0 0;
    }
    @else if($direction == top){
      transform-origin: 0% 100%;
    }
    @else if($direction == left){
      transform-origin: 100% 0;
    }
    @else{
      transform-origin: 0% 0%;
    }
  }
  .#{$className}-enter,
  .#{$className}-leave-to {
    opacity: 0;
    @if($direction == bottom or $direction == top){
      transform: scaleY(0);
    }
    @else{
      transform: scaleX(0);
    }
  }
  .#{$className}-leave,
  .#{$className}-enter-to {
    opacity: 1;
    @if($direction == bottom or $direction == top){
      transform: scaleY(1);
    }
    @else{
      transform: scaleX(1);
    }
  }
}

