@import "../css/normalize.css";
@import "variables";

html {
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  font-family: DINRegular, -apple-system, BlinkMacSystemFont, PingFang SC, Helvetica Neue, Hiragino Sans GB, Segoe UI, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, sans-serif;
  background-color: $color-background-dark;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: $color-primary;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color $time-transition ease;
  &:hover,
  &:active {
    color: $color-primary-dark;
    outline: 0;
    text-decoration: none;
  }
}

.page-enter-active,
.page-leave-active {
  transition: transform 0.4s ease,opacity 0.4s ease;
}

.page-enter,
.page-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.page-enter-to,
.page-leave {
  transform: translateX(0);
  opacity: 1;
}