@import "../css/normalize.css";
@import "application";
@import "mixins";

html {
  font-size: 14px;
  line-height: 1.4;
  color: $text-color;
  font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
  background-color: $body-bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: $link-color--hover;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: hsla(0, 0%, 100%, .6);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(95, 95, 95, .4);
  transition: background-color 0.15s;
}

html,body, #__nuxt, #__layout {
  height: 100%;
}

//page
.page-enter-active,
.page-leave-active {
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.page-enter,
.page-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.page-enter-to,
.page-leave {
  transform: translateX(0);
  opacity: 1;
}
