//function
@function color-active($color) {
  @return $color - 30;
}

@function color-light($color) {
  @return $color + 120
}

//grid
$grid-breakpoints: (
        xs: 0px,
        sm: 768px,
        md: 992px,
        lg: 1200px
) !default;

$grid-row-prefixCls: c-row !default;
$grid-col-prefixCls: c-col !default;

//color
$color-primary: #4dce9b;
$color-primary-light: color-light($color-primary);
$color-primary-active: color-active($color-primary);

$color-danger: #F56C6C;
$color-danger-active: color-active($color-danger);
$color-danger-light: #fef0f0;

$color-warn: #FA7921;
$color-warn-active: color-active($color-warn);
$color-warn-light: color-light($color-warn);

$color-success: #2db7f5;
$color-success-active: color-active($color-success);
$color-success-light: #ceffff;

$color-white: #fff;
$color-white-active: color-active($color-white);

$color-background-dark: #eee;
$color-background-dark-active: color-active($color-background-dark);

$color-background: hsla(0, 0%, 100%, .6);
$color-background-active: color-active($color-background);

$color-text: #555;
$color-text-light: $color-text + 30;
$color-text-deep: $color-text - 30;
$color-text-white: #fff;
$color-border-base: #d7dde4;
$color-disabled: #c3cbd6;

$color-link: $color-primary;
$color-link-active: $color-primary-active;

$color-shadow: $color-background-active;
//height
$height-header: 4rem;
$width-main: 75rem;

//z-index
$z-index-xs: -1;
$z-index-s: 1;
$z-index-m: 10;
$z-index-l: 100;
$z-index-xl: 1000;
$z-index-max: 2000;

//=======================================

//color
$primary-color: #4dce9b;
$info-color: #2db7f5;
$success-color: #19be6b;
$warning-color: #ff9900;
$error-color: #ed3f14;
$link-color: #4dce9b;
$link-hover-color: tint($link-color, 20%);
$link-active-color: shade($link-color, 5%);
$selected-color: fade($primary-color, 90%);
$tooltip-color: #fff;
$subsidiary-color: #80848f;
$rate-star-color: #f5a623;

//base
$body-background: #fff;
$font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
$code-family: Consolas, Menlo, Courier, monospace;
$title-color: #1c2438;
$text-color: #495060;

//border
$border-color-base: #dddee1; // outside
$border-color-split: #e9eaec; // inside
$border-radius-base: 0.3em;
$border-radius-small: 0.2em;

//avatar
$avatar-bg: #ccc;
$avatar-color: #fff;
$avatar-size: 3em;

//breadcrumb
$breadcrumb-separator-color: #c0c4cc;
$breadcrumb-color: $text-color;
$breadcrumb-hover: transparentize($primary-color, 0.2);

//checkbox
$checkbox-bg: #fff;
$checkbox-disabled: #ccc;
$checkbox-checked: $primary-color;

//dropdown
$dropdown-bg: #fff;
$dropdown-hover-bg: #ecf5ff;
$dropdown-hover-color: $primary-color;
$dropdown-disabled-color: #bbb;

//grid
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1920px;
$grid-breakpoints: (
        'xs': (max-width:$sm),
        'sm':(min-width:$sm) and (max-width: $md),
        'md':(min-width:$md) and (max-width: $lg),
        'lg':(min-width:$lg) and (max-width: $xl),
        'xl':(min-width:$xl)
);

//message
$message-close-color: transparentize($text-color, 0.4);
$message-close-hover-color: $text-color;
$message-info-color: $info-color;
$message-info-bg: transparentize($info-color, 0.8);
$message-info-border: transparentize($info-color, 0.4);
$message-success-color: $success-color;
$message-success-bg: transparentize($success-color, 0.8);
$message-success-border: transparentize($success-color, 0.4);
$message-warning-color: $warning-color;
$message-warning-bg: transparentize($warning-color, 0.8);
$message-warning-border: transparentize($warning-color, 0.4);
$message-error-color: $error-color;
$message-error-bg: transparentize($error-color, 0.8);
$message-error-border: transparentize($error-color, 0.4);

//select
$select-active-bg: #ecf5ff;
$select-active-color: $primary-color;
$select-active-border-active: $primary-color;

//tab
$tab-active-color: $primary-color;

//back-top
$back-top-color: $success-color;

//badge
$badge-bg: $error-color;
$badge-color:#fff;



